<div class="text-center" style="padding:50px 0">
  <%= form_with(model: shop, local: true, class: "form-horizontal denser") do |f| %>
    <% if shop.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

        <ul>
        <% shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="form-group control-group string_type">
        <%= f.text_field :name, class: "col-sm-10 controls", id: "lg_username", placeholder: :name %>
      </div>
      <div class="form-group control-group string_type">
        <%= f.text_field :location, class: "col-sm-10 controls", placeholder: :location %>
      </div>
      <div class="form-group control-group string_type">
        <%= f.text_area :description, class: "col-sm-10 controls", placeholder: :description %>
      </div>
    </fieldset>
    <div class="form-group form-actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
