<div class="page-header text-center mt-5">
  <h1>Edit Shop</h1>
</div>
<%= render 'form', shop: @shop %>

<div class="page-header text-center mt-5">
  <h3>Shop Meals</h3>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="header pjax">Name</th>
      <th class="header pjax">Type</th>
      <th class="header pjax">Price</th>
      <th class="header pjax">Description</th>
      <th  class="header pjax" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.name %></td>
        <td><%= meal.meal_type %></td>
        <td><%= meal.price %></td>
        <td><%= meal.description %></td>
        <td class="last links">
          <ul class="list-inline">
            <li title="Edit" rel="tooltip" class="icon list-inline-item">
              <%= link_to fa_icon("pencil"), edit_shop_meal_path(@shop, meal), class: "pjax" %>
            </li>
            <li title="Delete" rel="tooltip" class="icon list-inline-item">
              <%= link_to fa_icon("remove"), shop_meal_path(@shop, meal), method: :delete, data: { confirm: 'Are you sure?' }, class: "pjax" %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
    <tr><%= link_to fa_icon("plus-circle", text: "New Meal"), new_shop_meal_path(@shop), class: "pjax" %></tr>
  </tbody>
</table>

<%= link_to fa_icon("arrow-circle-left", text: "Back"), shops_path(@shop), class: "pjax mb-5" %>
