<div class="page-header text-center mt-5">
  <h1>Shops</h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="header pjax">Name</th>
      <th class="header pjax">Location</th>
      <th class="header pjax">Description</th>
      <th class="header pjax" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.location %></td>
        <td><%= shop.description %></td>
        <td class="last links">
          <ul class="list-inline">
            <li title="Edit" rel="tooltip" class="icon list-inline-item">
              <%= link_to fa_icon("pencil"), edit_shop_path(shop), class: "pjax", id: "edit-link" %>
            </li>
            <li title="Delete" rel="tooltip" class="icon list-inline-item">
              <%= link_to fa_icon("remove"), shop, method: :delete, data: { confirm: 'Are you sure?' }, class: "pjax", id: "delete-link" %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
    <tr><%= link_to fa_icon("plus-circle", text: "New Shop"), new_shop_path, class: "pjax" %></tr>
  </tbody>
</table>

<br>

<%= link_to fa_icon("arrow-circle-left", text: "Back"), root_path, class: "pjax mb-5" %>
