<%= stylesheet_link_tag    'meals', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="page-header text-center mt-5">
  <h1>Meals</h1>
</div>

<div class="container">
  <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-xs-8 col-sm-6 col-md-3 mt-3">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= meal.name %></h4>
            <p><%= meal.price %> Baht</p>
            <p>
              <%= link_to 'Show', meal, class: "label label-default", rel: "tooltip" %>
              <%= link_to 'Order', orders_path(order: {meal_id: meal}), :method=> :post, class: "label label-default", rel: "tooltip" %>
            </p>
          </div>
          <% if meal.image.attached? %>
            <%= image_tag meal.image, class: "rounded object-fit_cover" %>
          <% else %>
            <%= image_tag "https://via.placeholder.com/250", class: "rounded object-fit_cover" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div><!-- /.container -->
