<%= stylesheet_link_tag    'meals', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="page-header text-center mt-5">
  <h1>Meals</h1>
</div>

<div class="container">
  <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-md-4 mt-3 mb-3">
        <div class="thumbnail">
          <div class="caption align-middle">
            <h4 class="mt-4"><%= meal.name %></h4>
            <p><%= meal.price %> Baht</p>
            <p>
              <%= link_to 'Show', meal, class: "label label-default", rel: "tooltip" %>
              <%= link_to 'Order', orders_path(order: {meal_id: meal}), :method=> :post, data: { confirm: 'Are you sure?' }, class: "label label-default", rel: "tooltip" %>
            </p>
          </div>
          <% if meal.image.attached? %>
            <%= image_tag meal.image, class: "rounded object-fit_cover" %>
          <% else %>
            <%= image_tag "https://via.placeholder.com/250", class: "rounded object-fit_cover" %>
          <% end %>
        </div>
        <p class="text-center"><%= meal.shop.name %></p>
      </div>
    <% end %>
  </div>
</div><!-- /.container -->
