<div class="page-header text-center">
  <h1>Orders</h1>
</div>

<h3>My Orders</h3>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="header pjax">Order ID</th>
      <th class="header pjax">Meal Name</th>
      <th class="header pjax">Status</th>
      <th class="header pjax" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>order: <%= order.id %></td>
        <td><%= order.meal.name %></td>
        <% case order.status %>
        <% when "pending" %>
          <td class="text-warning">
        <% when "preparing" %>
          <td class="text-primary">
        <% else %>
          <td class="text-success">
        <% end %>
          <%= order.status.capitalize %>
        </td>
        <% if order.status.eql? "prepared" %>
          <td>
            <ul class="list-inline">
              <li title="Receive" rel="tooltip" class="icon list-inline-item">
                <%= link_to fa_icon("check-circle", text: "receive"), order_path(id: order.id, order: {meal_id: order.meal_id, status: "served"}), method: "patch", class: "pjax text-success", id: "receive-link" %>
              </li>
            </ul>
          </td>
        <% else %>
          <td></td>
        <% end %>
        <td class="last links">
          <ul class="list-inline">
            <li title="Show" rel="tooltip" class="icon list-inline-item">
              <%= link_to fa_icon("info", text: "info"), order, class: "pjax" %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% current_user.shops.each do |shop| %>
  <h3><%= shop.name  %> orders</h3>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th class="header pjax">Order ID</th>
        <th class="header pjax">Meal Name</th>
        <th class="header pjax">Status</th>
        <th class="header pjax" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% shop.active_orders.each do |order| %>
        <tr>
          <td>order: <%= order.id %></td>
          <td><%= order.meal.name %></td>
          <% case order.status %>
          <% when "pending" %>
            <td class="text-warning">
          <% when "preparing" %>
            <td class="text-primary">
          <% else %>
            <td class="text-success">
          <% end %>
            <%= order.status.capitalize %>
          </td>
          <td class="links">
            <ul class="list-inline">
              <% if order.status.eql? "pending" %>
                <li title="Accept", rel="tooltip" class="icon list-inline-item">
                  <%= link_to fa_icon("check", text: "accept"), order_path(id: order.id, order: {meal_id: order.meal_id, status: "preparing"}), method: "patch", class: "pjax text-primary", id: "accept-link" %>
                </li>
                <li title="Reject" rel="tooltip" class="icon list-inline-item">
                  <%= link_to fa_icon("ban", text: "reject"), order_path(id: order.id, order: {meal_id: order.meal_id, status: "rejected"}), method: "patch", class: "pjax text-danger", id: "reject-link" %>
                </li>
              <% elsif order.status.eql? "preparing" %>
                <li title="Finish" rel="tooltip" class="icon list-inline-item">
                  <%= link_to fa_icon("check-circle", text: "finish"), order_path(id: order.id, order: {meal_id: order.meal_id, status: "prepared"}), method: "patch", class: "pjax text-success",  id: "finish-link" %>
                </li>
              <% else %>
                <li></li>
              <% end %>
            </ul>
          </td>
          <td class="last links">
            <ul class="list-inline">
              <li title="Show" rel="tooltip" class="icon list-inline-item">
                <%= link_to fa_icon("info", text: "info"), order, class: "pjax" %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to fa_icon("arrow-circle-left", text: "Back"), root_path, class: "pjax mb-5" %>
